
@{
    ViewBag.Title = "Index";
}
@model WebApplication1.Models.EmpModel

<h2>Model Data</h2>
@{
    <p>ID: @Model.EmpId</p>
    <p>Name: @Model.Name</p>
    <p>City: @Model.City</p>
    <p>Address: @Model.Address</p>
}